html {
  background-color: #2c3e50;
}

h1 {
  color: #ecf0f1;
  margin-top: 0;
}

p {
  color: #ecf0f1;
}

button {
  border: none;
  border-radius: 5px;
}

/* developing tool */
/** {
  border: solid white 1px;
}*/

#main-page {
  width: 1000px;
  height: 800px;
  margin: auto;
  margin-top: 15%;
  position: relative;
}

#weather-info {
  width: 300px;
  height: 300px;
  display: inline-block;
  /*position: absolute;
  left: 0;*/
}

#search-element {
  width: 500px;
  height: 100px;
  display: inline-block;
  float: right;
  /*position: absolute;
  top: 0;
  right: 0;*/

}

#search-list-div {
  display: inline;
  margin-right: 200px;
  float: right;

}

.weather {
  margin: 5px;
}
