<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/materialize.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="/javascript/jquery.min.js"></script>
  <script src="/javascript/mustache.js"></script>
  <script src="/javascript/materialize.js"></script>
  <script src="/javascript/application.js"></script>

  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <title></title>
</head>
<body>

  <div id="main-page">

    <div id="weather-info">
      <h1>Weather</h1>
      <button class="weather waves-effect waves-light btn  blue-grey darken-2"><i class="material-icons left">cloud</i></button>
      <div id="sanfrancisco"></div>
    </div>

    <div id="search-element">
      <nav class="blue-grey darken-2">
        <div class="nav-wrapper">
          <form id="search-form">
            <div class="input-field">
              <input id="search " type="search" required autocomplete="off" class="blue-grey">
              <label for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
      <br>
      <br>
    </div>

    <div id="search-list-div">
      <ul></ul>
    </div>

  </div>

  <!-- mustache templates -->
  <script id="weather-template" type="x-tmpl-mustache">
    <p>{{cityName}}</p>
    <p>{{tempC}} Celsius</p>
    <p>{{observationTime}}</p>
  </script>

  <script id="search-list-template" type="x-tmpl-mustache">
    <button class="weather waves-effect waves-light btn  blue-grey darken-2" data-l="{{location}}"><i class="material-icons left">cloud</i>{{searchName}}</button>
  </script>
</body>
</html>
